button {
    background-color: darkslateblue;
    border: none;
    padding: 10px 20px;
    color: white;
    margin-top: 20px;
    font-size: 1.3rem;
}

h2 {
    text-align: center;
}

.error {
    color: red;
    margin-top: 20px;
}
